.logo {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

a:active {
  color: rgb(238, 255, 0);
}

.badge {
  background-color: yellow;
  color: black;
  border-radius: 20px;
}
